加个背景图片,
body {
  background-image: url("https://res.lolicon.app/bilibili/bg_small.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.card {
  overflow: visible;
  transition: background-color 0.5s ease;
  background-color: rgba(255,255,255,0.9);
}
.card:hover {
  background-color: #fff;
}
.card.card-transparent {
  background-color: transparent !important;
}
.card.card-transparent .level-start,
.card.card-transparent .level-end {
  overflow: hidden;
}
.widget {
  background-color: rgba(255,255,255,0.812);
}
.article .content a img {
  margin: auto;
  display: block;
}
